<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.discoverorg.core.repository.readwrite.UserReadWriteMapper">
    <select id="selectById" resultType="com.discoverorg.core.entity.UserEntity">
        SELECT * FROM prepub_dorg.user WHERE id = #{id}
    </select>
</mapper>